$desktop-width:1440px;
$mobile-width:375px;


// Colors
$orange: hsl(31, 77%, 52%) ;
$light-cyan: hsl(184, 100%, 22%) ;
$dark-cyan: hsl(179, 100%, 13%) ;
$transparent-white: hsla(0, 0%, 100%, 0.75); //paragraphs
$very-light-gray: hsl(0, 0%, 95%) ;//backgrounds,headings,buttons
